<div class="container">
  <div class="row">
    <%= simple_form_for @event do |f| %>
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h1>Wanna share fair?</h1>
      <p>Some of your friends could be less wealthy than you and they can't afford fun activities... They don't feel confortable been invited, so let them take part according to their incomes...</p>
      <%= f.input :name, label: "Event's name" %>

      <%= f.input :total_price, label: "What is the total price" %>

      <h3 class="text-center">Add info on you and your friends</h3>
      <div id="participants">
        <%= f.simple_fields_for :participants do |participant| %>
          <%= render "participants_fields", f: participant %>
        <% end %>
        <div class="links text-center">
          <%= link_to_add_association "Add a friend", f, :participants, partial: "participants_fields", class:"btn btn-primary btn-add-friend" %>
        </div>
      </div>
    </div>
    <div class="col-xs-12  col-md-10 col-md-offset-1 text-center">
      <%= f.button :submit, class:"btn btn-success btn-event"  %>
    </div>
  <% end %>
  </div>
</div>

